
# Node / Frontend
node_modules/
.next/
out/
build/
.DS_Store
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python / Backend
__pycache__/
*.pyc
venv/
env/
.pytest_cache/
.coverage
htmlcov/
